<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>
            function canGame() {
                return "getGamepads" in navigator;
            }
         
            $(document).ready(function() {
         
                if(canGame()) {
         
                    var prompt = "To begin using your gamepad, connect it and press any button!";
                    $("#gamepadPrompt").text(prompt);
         
                    $(window).on("gamepadconnected", function() {
                        $("#gamepadPrompt").html("Gamepad connected!");
                        console.log("connection event");
                    });
         
                    $(window).on("gamepaddisconnected", function() {
                        console.log("disconnection event");
                        $("#gamepadPrompt").text(prompt);
                    });
         
                }
                else{
                    var pro = "Try Again, Later";
                    $("#gamepadPrompt").text(pro);
        
                }
         
            });
            </script>
    </head>
    <body>
 
    <div id="gamepadPrompt"></div>
 
    
    </body>
</html>