
    body {
background-color:black;
position: relative;
margin: 0;
padding-bottom: 6rem;
min-height: 100%;
font-family: HelveticaNeue-UltraLight, Arial, sans-serif;
}
.roomtitle{
font-family:HelveticaNeue-Light, Arial, sans-serif;
font-size:200%;
font-weight:100;
color:#F7F7F7;
text-align: center;
}
.time{
font-family:HelveticaNeue-UltraLight, Arial,sans-serif;
font-size:100%;
font-weight:100;
color:#F7F7F7;
text-align: center;
background-color: white;
}
.containerOn{
width:152px;
height:152px;
font-family:HelveticaNeue-UltraLight, Arial, sans-serif;
font-size:200%;
background-color: white;
border: none;
text-align: center;
border-radius: 152px;
margin: auto 4px 12px 4px;
vertical-align: middle;
}

.form-control{
    font-family:HelveticaNeue-UltraLight, Arial, sans-serif;

}
.containerOff{
width:152px;
height:152px;
font-family:HelveticaNeue-UltraLight, Arial, sans-serif;
font-size:200%;
color:#F7F7F7;
background-color: black;
border: 1px solid #F7F7F7;
text-align: center;
border-radius: 152px;
margin: auto 4px 12px 4px;
vertical-align: middle;
}
.button {
border-top: 1px solid #96d1f8;
background: #65a9d7;
background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
background: -moz-linear-gradient(top, #3e779d, #65a9d7);
background: -ms-linear-gradient(top, #3e779d, #65a9d7);
background: -o-linear-gradient(top, #3e779d, #65a9d7);
padding: 12.5px 25px;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0,0,0,1) 0 1px 0;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
color: white;
font-size: 18px;
font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
text-decoration: none;
vertical-align: middle;
}
.button:hover {
border-top-color: #28597a;
background: #28597a;
color: #ccc;
}
.button:active {
border-top-color: #1b435e;
background: #1b435e;
}
#stream {
max-width: 70%; /* Width of the stream container */
}
.slidecontainer {
width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
-webkit-appearance: none;  /* Override default CSS styles */
appearance: none;
align:center;
height: 35px; /* Specified height */
background: #d3d3d3; /* Grey background */
outline: none; /* Remove outline */
opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
}
input[type=range][orient=vertical]
{
writing-mode: bt-lr; /* IE */
-webkit-appearance: slider-vertical; /* WebKit */
width: 35px;
height: 175px;
padding: 0 5px;
background: #d3d3d3; /* Grey background */
outline: none; /* Remove outline */
opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
}
/* Mouse-over effects */
input[type=range][orient=vertical]:hover {
opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
input[type=range][orient=vertical]::-webkit-slider-thumb {

width: 35px; /* Set a specific slider handle width */
height: 35px; /* Slider handle height */
background: #585858; /* Green background */
cursor: pointer; /* Cursor on hover */
border:#F7F7F7;
}
input[type=range][orient=vertical]::-moz-range-thumb {
width: 40px; /* Set a specific slider handle width */
height: 40px; /* Slider handle height */
background: #b31111; /* Green background */
cursor: pointer; /* Cursor on hover */
}
